:root {
  --choco: #6a4029;
  --abu: #4f5665;
  --bluedark: #0b132a;
  --jeruk: #ffba33;
  --abumuda: #dddddd;
}

/*buat max-width ukuran layar 1440px*/
body {
  max-width: 1440px;
  margin: 0 auto;
}

.nav__link a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--abu);
  border: 2px solid transparent;
}

.nav__link .active {
  color: var(--choco);
  font-weight: 700;
  transition: all 0.3s;
}

.nav__link a:hover,
.nav__utility a:hover {
  color: var(--choco);
  font-weight: 400;
  border-bottom: 2px solid var(--choco);
}

.nav__utility .signup {
  width: 150px;
  padding: 15px 60px;
  height: 45px;
  background: var(--jeruk);
}

.login {
  color: var(--bluedark);
}

.signup {
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--choco);
}
