body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  max-width: 1440px;
  margin: 0 auto;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

/* Login forgot password */
#forgot-pass {
  width: 232px;
  height: 25px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: -149px;
  margin-bottom: 34px;
  text-decoration-line: none;
  color: #6a4029;
}
